@charset "UTF-8";

div{
/*    border: 5px dashed; border-color: white;*/
}
body{
/*
    background-image: url("../img/Information-Technology-Wallpaper-21.jpg");
    background-position: topcenter;
    background-color: black;
*/ 
}
#noticeWrite{
/*
    background-color: rgb(255,255,255,0.86);
    border: 2px dashed; border-color: gainsboro;
*/
}

#noticeWrite>span{
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
    color: darkblue;
    text-shadow: 3px 3px 5px darkgray;
}



#noticeWrite #notice-tb *{
    box-sizing: border-box;
}
#noticeWrite #notice-tb{
/*    border-color: transparent;*/
    margin-left: auto;
    margin-right: auto;
    height: auto; width: 700px;
    margin-top: 30px;
    border-spacing: 0px;
    text-align: center;
    text-shadow: -1px -1px 2px white,
                1px 1px 5px rgb(197,206,215);
}
#noticeWrite #notice-tb th{
    width: 120px;
    color: darkblue;
    font-size: 14px;
    font-weight: 900;
    text-shadow: -1px 0 2px rgb(230,230,230),
                0 1px 2px rgb(230,230,230),
                1px 0 2px rgb(230,230,230),
                0 -1px 2px rgb(230,230,230);
    text-align: right;
    padding-right: 20px;
}
#noticeWrite #notice-tb td{
/*    border: 1px dashed; border-color: blue;*/
    width: 580px;
    text-align: left;
    padding-left: 15px;
    font-size: 15px;
    color: darkslategrey;
    text-shadow: none;
}
#noticeWrite #notice-tb #noticeGrade_tr th,
#noticeWrite #notice-tb #noticeGrade_tr td{
    height: 30px;
    vertical-align: middle;
}
#noticeWrite #notice-tb #noticeGrade_span{
	font-weight: 600;
}
#noticeWrite #notice-tb .EMC{
	color: red;
}
#noticeWrite #notice-tb .IMP{
	color: salmon;
}
#noticeWrite #notice-tb .NM{
	color: cornflowerblue;
}
#noticeWrite #notice-tb #noticeTitle_tr th,
#noticeWrite #notice-tb #noticeTitle_tr td{
    height: 30px;
    vertical-align: middle;
    padding-bottom: 5px;
}
#noticeWrite #notice-tb #noticeTitle_tr td{
    font-weight: 600;
}

#noticeWriter_tr *{
	border-top: 1px solid;
	border-color: dimgray;
	padding-top: 5px;
}
#noticeCnt_tr *{
	border-bottom: 1px solid;
	border-color: dimgray;
}
#noticeWriter_tr *,
#noticeDate_tr *,
#noticeCnt_tr *{
	color: darkslategrey !important;
	font-size: 13px !important;
}
#noticeWriter_tr th,
#noticeDate_tr th,
#noticeCnt_tr th{
	border-left: 1px solid;
	border-color: dimgray;
}
#noticeWriter_tr td,
#noticeDate_tr td,
#noticeCnt_tr td{
	border-right: 1px solid;
	border-color: dimgray;
}
#noticeWrite #notice-tb #noticeWriter_tr th,
#noticeWrite #notice-tb #noticeWriter_tr td{
    height: 20px;
    vertical-align: middle;
    padding-bottom: 0px;
}
#noticeWrite #notice-tb #noticeDate_tr th,
#noticeWrite #notice-tb #noticeDate_tr td{
    height: 20px;
    vertical-align: middle;
    padding-bottom: 0px;
}
#noticeWrite #notice-tb #noticeCnt_tr th,
#noticeWrite #notice-tb #noticeCnt_tr td{
    height: 20px;
    vertical-align: middle;
    padding-bottom: 5px;
}






#noticeWrite #notice-tb #noticeContent_tr th,
#noticeWrite #notice-tb #noticeContent_tr td{
    vertical-align: top;
    padding-top: 10px;
}

#noticeWrite #notice-tb #noticeContent_txt{
    height: 300px; width: 450px;
    border: 1px solid; border-color: dimgray;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
}

#noticeWrite #notice-tb #fileDownload_tr,
#noticeWrite #notice-tb #fileDownload_td{
	vertical-align: middle;
	padding: 0px;
	height: 40px;
}
#noticeWrite #notice-tb #fileDownload_tr th,
#noticeWrite #notice-tb #fileDownload_td{
	padding-top: 5px;
}
#noticeWrite #notice-tb #fileDownload_td{
	text-align: left;
	padding-left: 15px;
}



#goBoard_btn,
#rewrite_btn,
#delete_btn{
/*    border: 1px solid; border-color: blue;*/
    height: 35px; width: 55px;
    font-size: 12px;
    font-weight: 900;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    
/*    background-color: gainsboro;*/
    background-color: rgb(0,0,65);
    border: 0.5px solid; border-color: aliceblue;
    border-radius: 7px;
/*    color: dimgray;*/
    color: white;
    cursor: pointer;
}
#rewrite_btn,
#delete_btn{
	float: right;
	margin-left: 5px;
	display: none;
}







#commentWrite_tb *{
    box-sizing: border-box;
}
#commentWrite_tb{
/*    border-color: transparent;*/
    margin-left: auto;
    margin-right: auto;
    height: auto; width: 700px;
    margin-top: 10px;
    border-spacing: 0px;
    text-align: center;
}
#commentWrite_tb th,
#commentWrite_tb td{
    height: 60px;
}
#commentWrite_tb th{
    width: 120px;
    color: darkslategrey;
    font-size: 14px;
    font-weight: 900;
    text-shadow: -1px 0 2px rgb(230,230,230),
                0 1px 2px rgb(230,230,230),
                1px 0 2px rgb(230,230,230),
                0 -1px 2px rgb(230,230,230);
    text-align: right;
    padding-right: 20px;
}
#commentWrite_tb #cmmWrite_td{
/*    border: 1px dashed; border-color: blue;*/
    width: 465px;
    text-align: left;
    padding-left: 15px;
    padding-right: 0px;
    font-size: 15px;
    color: darkslategrey;
    text-shadow: none;
}
#commentWrite_tb #cmmWrite_td textarea{
    height: 100%; width: 100%;
    resize: none;
}
#commentWrite_tb #cmmWrite_btn_td{
    width: 115px;
    padding-left: 10px;
    text-align: left;
}
#commentWrite_tb #cmmWrite_btn_td button{
    height: 100%; width: 70px;
    /*    border: 1px solid; border-color: blue;*/
    font-size: 12px;
    font-weight: 900;
    color: black;
    text-align: center;
    margin: 0px;
    
/*    background-color: gainsboro;*/
    background-color: rgb(0,0,65);
    border: 0.5px solid; border-color: aliceblue;
    border-radius: 7px;
/*    color: dimgray;*/
    color: white;
    cursor: pointer;
}

#commentView_tb *{
    box-sizing: border-box;
}
#commentView_tb{
/*    border-color: transparent;*/
    margin-left: auto;
    margin-right: auto;
    height: auto; width: 700px;
    margin-top: 10px;
    border-spacing: 0px;
    text-align: center;
    margin-bottom: 30px;
}
#commentView_tb th{
    height: 40px;
    width: 120px;
    color: darkslategrey;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
}

#commentView_tb tbody tr:first-child td{
    border-top: 2px solid;
    border-color: darkgray;
}
#commentView_tb tbody td{
    text-align: center;
    border-bottom: 1px solid;
    border-color: darkgray;
    padding-top: 10px;
    padding-bottom: 5px;
}
#commentView_tb tbody td,
#commentView_tb .cmmContent textarea{
    font-size: 14px;
    font-family: '맑은고딕';
}
#commentView_tb .cmmContent{
/*    border: 1px dashed; border-color: blue;*/
    width: 465px;
    text-align: left;
    padding-left: 15px;
    padding-right: 0px;
    color: darkslategrey;
    text-shadow: none;
}
#commentView_tb .cmmContent textarea{
    border: none;
    /* border: 1px dashed red; */
    height: 50px; width: 100%;
    resize: none;
    background-color: transparent;
    vertical-align: middle;
    word-break: break-all;
}




.rewriteCmm,
.deleteCmm,
.reInsert{
/*    border: 1px solid; border-color: blue;*/
    height: 22px; width: 40px;
    font-size: 12px;
    font-weight: 900;
    color: black;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    
/*    background-color: gainsboro;*/
    background-color: rgb(0,0,65);
    border: 0.5px solid; border-color: aliceblue;
    border-radius: 7px;
/*    color: dimgray;*/
    color: white;
    cursor: pointer;
    
	float: right;
	margin-left: 5px;
}


#noticeWrite #fileDownload_td{
	cursor: pointer;
}
