@charset "UTF-8";

/* 
body{
    border: 3px dashed; border-color: gray;
    background-image: url("../img/Information-Technology-Wallpaper-21.jpg");
    background-position: topcenter;
   background-color: black;
}
 */
#TechShareBoard{
	/* 
	border: 5px dashed; border-color: gainsboro;
    background-color: rgb(255,255,255,0.86);
     */
    text-shadow: none;
}

#TechShareBoard>span{
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
    color: darkblue;
    text-shadow: 3px 3px 5px darkgray;
    
}


#TechShareBoard #tableDiv{
	height: 410px; width: 910px;
	box-sizing: border-box;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#TechShareBoard #techShare-tb{
/*    border-color: transparent;*/
    border-spacing: 0px;
    /*
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    */
    height: auto; width: 900px;
    text-align: center;
}

#TechShareBoard #techShare-tb tr:first-child th{
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: gray;
    padding: 0px;
    height: 30px;
    font-size: 14.5px;
    color: rgb(105,105,105);
    text-shadow: -1px -1px 2px transparent,
                1px 1px 2px rgb(220,220,220);
}
#TechShareBoard #techShare-tb tr td{
    border-bottom: 1px solid;
    border-color: gray;
    height: 45px;
    font-size: 14px;
    font-weight: 550;
    color: rgb(70,70,70);
}


#TechShareBoard #techShare-tb th:nth-child(1){
    width: 80px;
}
#TechShareBoard #techShare-tb th:nth-child(2){
    width: 480px;
}
#TechShareBoard #techShare-tb th:nth-child(3){
    width: 110px;
}
#TechShareBoard #techShare-tb th:nth-child(4){
    width: 140px;
}
#TechShareBoard #techShare-tb th:nth-child(5){
    width: 90px;
}




